<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Provaswito - Home</title>
    <%- include('layouts/meta'); -%>
  </head>
  <body>
    <%- include('layouts/navbar.ejs'); -%> <%-
    include('other/news-paper-cover.ejs'); -%> <%- include('layouts/model'); -%>
    <%- include('layouts/footer'); -%> <%- include('layouts/script'); -%>
  </body>
</html>
